<div class="container">

  <header>

    <h1>
      {{title}}
    </h1>
  </header>

  <main>
    <h2>
      Current count is : {{count}}
    </h2>
    <!--  here  {{count}} called interpolation -->
  </main>



  <button (click)="handleReset()">Reset count</button>
  <!-- //string is not just string here, it's a decieving point of angular not onclick,just on part is removed here
  // ()="handleReset()", here first () will define the what kind of event we're looking up for -->

  <!--  these  are event binding -->
  <!--  we can use [] = "" also doe different use as well-->
  <button (click)="handleIncrease()">Increased count</button>
  <button (click)="handleDecrease()">Decreased count</button>
</div>